@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    max-height: 100vh;
    background: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.wrapper{
    background: white;
    max-width: 420px;
    border-radius: 7px;
    padding: 16px 20px;
    height: 280px;
    transition: height 0.2s ease;
}
.wrapper.active{
    height: 550px;
}
header h1{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
header p{
    font-size: 16px;
    margin-top: 5px;
    color: #474747;
}
.wrapper .form{
    margin: 20px 0 25px
}
.form input{
    width: 100%;
    padding: 10px 20px;
    height: 55px;
    font-size: 18px;
    border: 1px solid #999;
    padding: 0 15px;
}
.form .buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.form button{
    background: blue;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 6px;
}
.qr-code{
    border: 1px solid #ccc;
    padding: 33px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
}
.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease
}
.bi-check-circle-fill{
    color: green;
}
@media (max-width: 599px) {
    .wrapper{
        height: 320px;
    }
    .qr-code img{
        height: 150px;
        width: 150px;
    }
    .qr-code{
        padding: 5px;
    }
}
